eShop.Admin/bin/
eShop.Admin/obj/

eShop.ApplicationService/bin/
eShop.ApplicationService/obj/

eShop.DataBaseRepository/bin/
eShop.DataBaseRepository/obj/

eShop.DataTransferObject/bin/
eShop.DataTransferObject/obj/

eShop.DomainModel/bin/
eShop.DomainModel/obj/

eShop.DomainService/bin/
eShop.DomainService/obj/

eShop.Utility/bin/
eShop.Utility/obj/

eShop.Web/bin/
eShop.Web/obj/

.vs/